// _components.sass — reusable components: buttons, navbars, cards, etc.

// Menubar
header {
  height: 18px;
  z-index: 2;
  position: fixed;
  top: 50px;
  right: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;

    li {
      display: inline;

      p {
        // transform: translateY(8px);
        padding-inline: inherit;
        margin: 0;
        // animation: fadeInText 1s linear 1s;
      }

      // @keyframes fadeInText {
      //   from {opacity: 0;}
      //   to {opacity: 1;}
      // }
    }
  }

  span {
    font-size: 26px;
    letter-spacing: -3px;
    padding-bottom: 2px;
    padding-inline: 4px;
    cursor: default;
  }

  button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    img {
      // padding-left: 4px;
      height: 28px;
      width: 28px;
    }

    img:hover {
      filter: brightness(2) drop-shadow(0 0 1px rgb(114, 124, 145));
      transition: 0.3s;
    }
  }
}

#menu-nav {
  padding-right: 19px;
}

// Nav Underlines
.underline {
  position: absolute;
  height: 1px;
  width: 0%;
  left: 50%;
  background-color: #000;
  transform: translateX(-50%);
  transition: width 0.3s;
}

#uline-c1 {
  width: 50px;
  left: 42px;
}

#uline-c2 {
  width: 67px;
  left: 137px;
}

#uline-c3 {
  width: 73px;
  left: 245px;
}

#uline-c4 {
  width: 54px;
  left: 345px;
}

#uline-c5 {
  width: 51px;
  left: 435px;
}

.uline-container {
  position: absolute;
  height: 3px;
  top: 19px;
  transform: translateX(-50%);
  // background-color: red;
  display: flex;
}

.selected {
  width: 100%;
  transition: width 0.3s;
}

// Links
a {
  text-decoration: none;
  color: black;
  padding-inline: 15px;
}

.fade {
  opacity: 0.4;
  transition: opacity 0.3s;
}

