// _components.sass — reusable components: buttons, navbars, cards, etc.

// Menubar
header {
  width: 650px;
  height: 20px;
  z-index: 2;
  position: fixed;
  top: 50px;
  right: 5vw;
  // background-color: aqua;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      padding-inline: 15px;
    }

    img {
      // display: inline;
      padding-left: 4px;
      height: 28px;
      width: 28px;
      transform: translateY(8px);
    }
  }
}

a {
  text-decoration: none;
  color: black;
}