// _layout.sass — container and grid systems, header/sidebar/nav etc.

body {
  margin: 0;
  // position: relative;
  font-family: 'D-DIN', 'Times';
  // padding: 10;
}

%flex-container-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Preloader 

#preloader {
  @extend %flex-container-centered;
  background-color: red;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.preloader-anim {
  opacity: 0;
  transition: all 1s;
}

#loader-content {
  width: 260px;
  height: 480px;
  background-color: black;
}

.loader-content-anim {
  transform: scale(1.2);
  transition: all 1s;
  overflow: hidden;
}

// Scroll-container
#scroll-container {
  background-color: rgb(163, 163, 163);
  box-sizing: border-box;
  padding-top: 1px;
  padding-bottom: 1px;
}

// Sections

section {
  background-color: rgb(163, 163, 163);
  padding: 18px;
}

.container {
  @extend %flex-container-centered;
  border: 2px solid black;
  width: auto;
  flex-direction: column;
  height: 100%;
  padding-inline: 10px;
}

.container p {
  text-align: center;
}

h2 {
  font-family: 'D-DINExp';
  font-weight: normal;
}

#landing {
  min-height: 760px;
  height: 100vh;
  box-sizing: border-box;
}

// #landing img {
//   height: 50%;
//   aspect-ratio: ;
// }

#landing-container {
  // aspect-ratio: 8 / 5;
}


#landing-img-container {
  position: relative;
  margin-block: 80px;
  aspect-ratio: 8 / 5;
  min-width: 700px;
  width: 80%;
  max-width: 1000px;
  background-color: #000;
}

#tl-img {
  top:0;
  left: 0;
}

#br-img {
  bottom: 0;
  right: 0
}

.placehold-img {
  min-width: 500px;
  width: 70%;
  height: 70%;
  background-color: #fff;
  border: solid 1px black;
  position: absolute;
  box-sizing: border-box;
}

.overlap {
  z-index: 2;
}


#yt-video {
  aspect-ratio: 5 / 3;
}

#specs-list {
  aspect-ratio: 5 / 3;
}

#img-text {
  aspect-ratio: 5 / 3;
}

#carousel {
  aspect-ratio: 5 / 3;
}

#d-box {
  aspect-ratio: 5 / 3;
}

