// _layout.sass — container and grid systems, header/sidebar/nav etc.

body {
  margin: 0;
  // position: relative;
  font-family: 'D-DIN', 'Times';
  // padding: 10;
}

%flex-container-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Preloader 

#preloader {
  @extend %flex-container-centered;
  background-color: red;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.preloader-anim {
  opacity: 0;
  transition: all 1s;
}

#loader-content {
  width: 260px;
  height: 480px;
  background-color: black;
}

.loader-content-anim {
  transform: scale(1.2);
  transition: all 1s;
  overflow: hidden;
}

// Scroll-container
#scroll-container {
  background-color: rgb(163, 163, 163);
  box-sizing: border-box;
  padding-top: 1px;
  padding-bottom: 1px;
}

// Sections

section {
  background-color: rgb(163, 163, 163);
  padding: 20px;
}

.container {
  @extend %flex-container-centered;
  border: 2px solid black;
  width: auto;
  flex-direction: column;
  height: 100%;
  padding-inline: 10px;
}

.container p {
  text-align: center;
}

#landing {
  min-height: 740px;
  height: 100vh;
  box-sizing: border-box;
}

h2 {
  font-family: 'D-DINExp';
  font-weight: normal;
}

#yt-video {
  aspect-ratio: 5 / 3;
}