// _layout.sass — container and grid systems, header/sidebar/nav etc.

body {
  margin: 0;
  font-family: 'D-DIN', 'Times';
  height: 100vh;
}

%flex-container-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Preloader 

#preloader {
  @extend %flex-container-centered;
  background-color: red;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.preloader-anim {
  opacity: 0;
  transition: all 1s;
}

#loader-content {
  width: 260px;
  height: 480px;
  background-color: black;
}

.loader-content-anim {
  transform: scale(1.2);
  transition: all 1s;
  overflow: hidden;
}

// Scroll-container
#scroll-container {
  // background-color: rgb(163, 163, 163);
  background-color: rgb(251, 251, 251);
  box-sizing: border-box;
  padding-top: 1px;
  padding-bottom: 1px;
}

// Sections

section {
  // background-color: rgb(163, 163, 163);
  background-color: rgb(251, 251, 251);
  padding: 18px;
}

.container {
  @extend %flex-container-centered;
  border: 2px solid black;
  width: auto;
  flex-direction: column;
  height: 100%;
  padding-inline: 10px;
}

.container p {
  text-align: center;
}

h2 {
  font-family: 'D-DINExp';
  font-weight: normal;
}

//  SECTION 1: LANDING --------------------------------------------
#landing {
  min-height: 760px;
  height: 100vh;
  box-sizing: border-box;
}

// #landing-container {
// }


#landing-core-container {
  position: relative;
  margin-block: 80px;
  aspect-ratio: 8 / 4.5;
  min-width: 700px;
  width: 80%;
  max-width: 1000px;
  // background-color: #000;
}

#tl-img {
  top:0;
  left: 0;
}

#br-img {
  bottom: 0;
  right: 0
}

.placehold-img {
  min-width: 500px;
  width: 70%;
  height: 78%;
  background-color: #fff;
  border: solid 1px black;
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0 0 8px 4px rgb(41, 41, 41);
  // box-shadow: 0 0 0px 14px rgb(163,163,163);
}

.overlap {
  z-index: 2;
}

.placehold-img img {
  width: 100%;
  height: 100%;
}

#volkswagen {
  position: absolute;
  top: 72%;
  left: -4%;
  font-size: 76px;
  // font-family: 'D-DINExp';
  z-index: 3;
  color: rgb(70, 118, 242);
  letter-spacing: 2px;
  display: flex;
  justify-content: start;
}



.data-char {
  display: inline-flex;
  // width: 50px;
  // margin-inline: -10px;
}

// #data-char-v {
//   width: 43px;
// }

// #data-char-w {
  // width: 63px;
// }


#arteon {
  position: absolute;
  top: 88%;
  left: 32%;
  font-size: 150px;
  // font-family: 'D-DINExp';
  z-index: 3;
  color: rgb(24, 48, 107);
  letter-spacing: 26px;
}

//  SECTION 2: YT-VIDEO --------------------------------------------

#yt-video {
  aspect-ratio: 5 / 3;
}

#specs-list {
  aspect-ratio: 5 / 3;
}

#img-text {
  aspect-ratio: 5 / 3;
}

#carousel {
  aspect-ratio: 5 / 3;
}

#d-box {
  aspect-ratio: 5 / 3;
}

